@model TechnicalDogsbody.Optimizely.DeveloperTools.Framework.Requests.ClearCache.ClearCacheResponse

@{
    Layout = "_ShellLayout";
}
<div class="epi-contentArea">
    <h1>Clear Cache</h1>
    <h4>This will Remove all items from the cache</h4>

    @if (Model.Reset)
    {
            <h5>Cache has been cleared</h5>
    }

    <br /><br />
    <form method="get">
        <button type="submit" name="reset" value="true">Clear Cache</button>
    </form>
    <br/>
    <br/>
        <table>
            <thead>
            <tr>
                <td>Cache Key</td>
            </tr>
            </thead>
        @foreach (var item in Model.Keys)
        {
                    <tr><td>@item</td></tr>
        }
        </table>
</div>