@using EPiServer.Shell
@{
    Layout = "_ShellLayout";
}
<div class="epi-contentArea">
    <h1>Optimizely Developer Tools</h1>
    <br /><br />
    <div>
        <h2><a class="epi-primary" href="@Paths.ProtectedRootPath.ToLower()developer-tools/clearcache" class="epi-primary">Clear Cache</a></h2>
        <p>Add some info about the tool</p>
        <hr />
    </div>
    <br /><br />
    <div>
        <h2><a class="epi-primary" href="@Paths.ProtectedRootPath.ToLower()developer-tools/resetscheduledtasks" class="epi-primary">Reset Stuck Scheduled Tasks</a></h2>
        <p>Add some info about the tool</p>
        <hr />
    </div>
    <br /><br />
    <div>
        <h2><a class="epi-primary" href="@Paths.ProtectedRootPath.ToLower()developer-tools/modelreset" class="epi-primary">Model Version Reset Tool</a></h2>
        <p>Add some info about the tool</p>
        <hr />
    </div>
    <br /><br />
    <div>
        <h2><a class="epi-primary" href="@Paths.ProtectedRootPath.ToLower()developer-tools/restartapplication" class="epi-primary">Restart Application</a></h2>
        <p>Add some info about the tool</p>
        <hr />
    </div>
</div>

<section class="footer">
    <div class="epi-contentArea">
        <div class="col-12">
            <a href="https://www.technicaldogsbody.com/" target="_blank">Developed by Technical Dogsbody</a>
        </div>
    </div>
</section>