<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="technicaldogsbody:developertools"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
	<assemblies>
		<add assembly="TechnicalDogsbody.Optimizely.DeveloperTools" />
	</assemblies>

	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" />
		</moduleDependencies>
	</clientModule>
</module>